@use "./../helpers" as *;

.hero {
  &__main {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-areas:
      "body resources-preview"
      "metrics resources-preview";
    @include tablet {
      grid-template-columns: 1fr;
      grid-template-areas:
        "body"
        "metrics"
        "resources-preview";
    }
  }
  &__body {
    grid-area: body;
    padding: rem(150) rem(50) rem(100) 0;

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(100);
    }

    @include tablet {
      padding: rem(40) rem(0) rem(30);
    }
  }

  &__subtitle {
    @include fluid-text(30, 18);
    color: var(--color-dark-40);

    font-weight: 500;
    font-family: var(--font-family-accent);

    &:not(:last-child) {
      margin-bottom: rem(30);

      @include tablet {
        margin-bottom: rem(14);
      }
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
      @include tablet {
        margin-bottom: rem(10);
      }
    }
  }

  &__metrics {
    grid-area: metrics;

    @include tablet-above {
      border-top: var(--border-dark-15);
    }
    @include laptop {
      &::before {
        width: 100vw;
        right: calc(var(--container-padding-x) * -1);
      }
    }
  }
  &__resources-preview {
    grid-area: resources-preview;

    padding-left: rem(80);
    padding-bottom: rem(80);

    border-left: var(--border-dark-15);

    background: url("./../../images/hero/resources-preview/bg.png") 0 0 / contain no-repeat;

    @include laptop {
      padding: rem(100) rem(40) rem(40);
    }
    @include tablet-above {
      border-left: none;
    }
    @include tablet {
      width: 100vw;
      margin-left: calc(var(--container-padding-x) * -1);
    }
  }

  &__advantages {
    border-block: var(--border-dark-15);

    &-list {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 32% 36% 32%;

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }
    }

    &-item {
      --padding-x: #{rem(80)};
      padding-block: rem(50);

      @include laptop {
        --padding-x: #{rem(50)};
        padding-block: rem(40);
      }
      @include tablet {
        padding-block: rem(30);
        display: flex;
        justify-content: center;
      }

      &:not(:last-child) {
        padding-right: var(--padding-x);
        @include tablet {
          --padding-x: 0;
        }
        @include laptop-above {
          border-right: var(--border-dark-15);
        }
        @include laptop {
          border-bottom: var(--border-dark-15);
        }
      }
      &:not(:first-child) {
        padding-left: var(--padding-x);
        @include tablet {
          --padding-x: 0;
        }
      }
    }
  }
}
